<div class="row">
  <div class="col-md-4">
    <div class="text-center bordered-container">
      <h3>
        <%= current_user.name %>
        <% if current_user.corp_name %>
          <br><small><small><%= current_user.corp_name %></small></small>
        <% end %>
        <% if current_user.ally_name %>
          <br><small><%= current_user.ally_name %></small>
        <% end %>
      </h3>
      <%= image_tag "https://imageserver.eveonline.com/Character/#{current_user.character_id}_128.jpg", class: 'avatar-img' %><br>
      <span>
        Premium: <%= current_user.premium? ? "#{(current_user.premium_expires_at - Time.now).to_i/86400} days left" : 'inactive'%> <small>(<%= link_to (current_user.premium? ? "Add" : "Activate"), premium_path, class: 'premium' %>)</small>
      </span>
    </div>

    <div class="text-center bordered-container">
      <h4>Settings</h4>
      <table>
        <tr>
          <td class="text-left">Sync Character Contacts</td>
          <td><%= current_user.settings.sync_char_contacts ? '&#10003;'.html_safe : '&#10007;'.html_safe %></td>
        </tr>
        <tr>
          <td class="text-left">Sync Corp Contacts</td>
          <td><%= current_user.settings.sync_corp_contacts ? '&#10003;'.html_safe : '&#10007;'.html_safe %></td>
        </tr>
        <tr>
          <td class="text-left">Sync Alliance Contacts</td>
          <td><%= current_user.settings.sync_ally_contacts ? '&#10003;'.html_safe : '&#10007;'.html_safe %></td>
        </tr>
      </table>
      <span class="text-center">
        <%= button_to "Edit Settings", settings_edit_path, class: 'btn btn-primary', method: :get %>
      </span>
    </div>
  </div>
  <div class="col-md-8">
    <ul class="unstyled">
      <li class="bordered-container row row-flex">
        <div class="col-md-7">
          <div class="row row-flex">
            <div class="col-xl-5 col-md-6">
              <%= image_tag "https://image.eveonline.com/Character/0_128.jpg", class: 'avatar-img' %>
            </div>
            <div class="col-xl-7  col-md-6">
              <span>Add a Character</span>
            </div>
          </div>

        </div>
        <div class="col-md-5 text-right">
          <span>
            <%= link_to image_tag("https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-small.png"), user_crest_omniauth_authorize_path %>
          </span>
        </div>
      </li>
      <% current_user.alt_characters.each do |alt_character| %>
        <li class="bordered-container row row-flex">
          <div class="col-md-7">
            <div class="row row-flex">
              <div class="col-xl-5 col-md-6">
                  <%= image_tag "https://image.eveonline.com/Character/#{alt_character.character_id}_128.jpg", class: 'avatar-img' %>
              </div>
              <div class="col-xl-7  col-md-6">
                <%= alt_character.name %><br>
                <small><%= "Last Sync: #{alt_character.time_since_last_sync}" %></small>
              </div>
            </div>
          </div>
          <div class="col-md-5 text-right">
            <%= button_to "Sync", synchronize_path(params: {alt_character_id: alt_character.id}), method: :post, class: 'btn btn-primary', form: {style: 'display:inline-block;'} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
