<h1>Avatar</h1>
<%= image_tag "https://imageserver.eveonline.com/Character/#{current_user.character_id}_128.jpg" %>
<h1>Name</h1>
<%= current_user.name %>

<h1>Settings</h1>
<table>
  <tr>
    <td>Sync Character Contacts</td>
    <td><%= current_user.settings.sync_char_contacts %></td>
  </tr>
  <tr>
    <td>Sync Corporation Contacts</td>
    <td><%= current_user.settings.sync_corp_contacts %></td>
  </tr>
  <tr>
    <td>Sync Alliance Contacts</td>
    <td><%= current_user.settings.sync_ally_contacts %></td>
  </tr>
</table>
<%= link_to "Edit Settings", settings_edit_path %>

<h1>Alt Characters</h1>
<%= link_to "Add a Character", user_crest_omniauth_authorize_path %>
<ul>
  <% current_user.alt_characters.each do |alt_character| %>
    <li><%= alt_character.name %></li>
  <% end %>
</ul>
