<h1>Avatar</h1>
<%= image_tag "https://imageserver.eveonline.com/Character/#{current_user.character_id}_128.jpg" %>
<h1>Name</h1>
<%= current_user.name %>
<!-- <h1>Character Contacts</h1>
<%= @char_contacts %>
<h1>Corporation Contacts</h1>
<%= @corp_contacts %>
<h1>Alliance Contacts</h1>
<%= @ally_contacts %> -->
